@charset "UTF-8";
@namespace html url(http://www.w3.org/1999/xhtml);

@media (prefers-color-scheme: light) {
    :root {
        --background-color: white;
        --hover-background-color: lightgray;
        --input-background-color: whitesmoke;
        --shadow-color: gray;
        --border-color: darkgray;
        --font-color: #202020;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #282833;
        --hover-background-color: #505066;
        --input-background-color: #3c3c4d;
        --shadow-color: gray;
        --border-color: #777799;
        --font-color: #e1e1e1;
    }
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

body {
    display: flex;
    flex-direction: column;
    user-select: none;
    font-size: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-width: 0;
}

p, img {
    margin-bottom: 0.2em;
    line-height: 1.5;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    min-height: 24px;
    color: var(--font-color);
    background-color: var(--background-color);
    &:hover {
        background-color: var(--hover-background-color);
    }
    &:focus {
        background-color: var(--hover-background-color);
        outline: none;
    }
}

.fa-solid {
    font-size: 16px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.pre-wrap {
    white-space: pre-wrap;
}

.template {
    display: none !important;
}

.browser-panel {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
}

.bar {
    display: flex;
    flex-direction: row;

    > * {
        margin-left: 1px;
        margin-right: 1px;
    }
    > *:first-child {
        margin-left: 1px;
    }
    > *:last-child {
        margin-right: 1px;
    }

    > .bar {
        > *:first-child {
            margin-left: 0;
        }
        > *:last-child {
            margin-right: 0;
        }
    }
}

.navigation-bar {
    margin-top: 1px;

    button {
        width: 24px;
    }
    .prev {
    }
    .next {
    }
    .refresh {
        .browser-panel[data-loading="false"] & {
            .fa-xmark {
                display: none;
            }
        }
        .browser-panel[data-loading="true"] & {
            .fa-rotate-right {
                display: none;
            }
        }
    }
    .menu {
    }
}

.address-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;

    .address {
        flex: 1;
        display: flex;
        align-items: center;
        width: 48px;
        height: 24px;
        padding: 2px;
        word-break: break-all;
        overflow: hidden;
        white-space: nowrap;
        border-radius: 5px;
        color: var(--font-color);
        background-color: var(--input-background-color);
        &:hover {
            background-color: var(--hover-background-color);
        }
        &:focus {
            background-color: var(--background-color);
            outline: .5px solid var(--border-color);
        }
    }
    .run::before {
    }
    .copied {
        position: absolute;
        top: 0;
        right: 26px;
        height: 24px;
        display: flex;
        align-items: center;
    }
    .copy-url {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
    }
}

.browser-container {
    display: flex;
    flex: 1;
    padding: 1px;
}
.browser {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    border: .5px solid var(--border-color);
    border-radius: 5px;
    transform-origin: top left;
}

.menu-veil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color);
    opacity: 0.5;
}

.menu-container {
    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 10;
    top: 30px;
    right: 5px;
    padding: 2px;

    cursor: default;
    border: .5px solid var(--border-color);
    border-radius: 5px;
    color: var(--font-color);
    background-color: var(--background-color);
    box-shadow: var(--shadow-color) 2px 2px 4px;

    .menu-item {
        margin: 2px;
    }
    .scale-bar {
        align-items: center;
        justify-content: center;

        button {
            width: 24px;
        }
        .scale {
            margin: 0 2px;
            min-width: 4em;
            text-align: center;
            &::after {
                content: '%';
            }
        }
    }
}

.spacer {
    flex-grow: 1;
}

#popup-veil {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color);
    opacity: 0.5;
}

.popup-panel {
    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    width: 80vw;
    min-height: 10vh;
    max-height: 70vh;
    transform: translate(-50%, -50%);

    padding: 8px 10px;
    border: .5px solid var(--border-color);
    border-radius: 4px;
    color: var(--font-color);
    background-color: var(--background-color);

    box-shadow: var(--shadow-color) 2px 2px 4px;
    overflow-x: auto;

    > * {
        margin: 2px 0;
    }
    > img {
        border-radius: 10px;
        align-self: center;
    }
    > img[data-string-src=webrequestHeaderCleaningAll-imgsrc]{
        max-width: 360px;
    }
}
