@namespace html url(http://www.w3.org/1999/xhtml);
@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
    --hover-background-color: lightgray;
    --input-background-color: whitesmoke;
    --shadow-color: gray;
    --border-color: darkgray;
    --font-color: #202020;
    --disabled-font-color: #808080; } }
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #282833;
    --hover-background-color: #505066;
    --input-background-color: #3c3c4d;
    --shadow-color: gray;
    --border-color: #777799;
    --font-color: #e1e1e1;
    --disabled-font-color: #818181; } }
html, body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color); }

body {
  display: flex;
  flex-direction: column;
  user-select: none;
  font-size: 12px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-width: 0; }

p, img {
  margin-bottom: 0.2em;
  line-height: 1.5; }

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  min-height: 24px;
  color: var(--font-color);
  background-color: var(--background-color); }
  button:hover {
    background-color: var(--hover-background-color); }
  button:focus {
    background-color: var(--hover-background-color);
    outline: none; }

.fa-solid {
  font-size: 16px; }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.pre-wrap {
  white-space: pre-wrap; }

.template {
  display: none !important; }

.browser-panel {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1; }

.bar {
  display: flex;
  flex-direction: row; }
  .bar > * {
    margin-left: 1px;
    margin-right: 1px; }
  .bar > *:first-child {
    margin-left: 1px; }
  .bar > *:last-child {
    margin-right: 1px; }
  .bar > .bar > *:first-child {
    margin-left: 0; }
  .bar > .bar > *:last-child {
    margin-right: 0; }

.navigation-bar {
  margin-top: 1px; }
  .navigation-bar button {
    width: 24px; }
  .browser-panel[data-loading="false"] .navigation-bar .refresh .fa-xmark {
    display: none; }
  .browser-panel[data-loading="true"] .navigation-bar .refresh .fa-rotate-right {
    display: none; }

.address-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1; }
  .address-bar .address {
    pointer-events: none;
    flex: 1;
    display: flex;
    align-items: center;
    width: 48px;
    height: 24px;
    padding: 2px;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    color: var(--disabled-font-color);
    background-color: var(--input-background-color); }
    .address-bar .address:hover {
      background-color: var(--hover-background-color); }
    .address-bar .address:focus {
      background-color: var(--background-color);
      outline: 0.5px solid var(--border-color); }
  .address-bar .copied {
    position: absolute;
    top: 0;
    right: 26px;
    height: 24px;
    padding: 0 4px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: var(--font-color);
    background-color: var(--background-color); }
  .address-bar .copy-url {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent; }
    .address-bar .copy-url:focus {
      background-color: var(--hover-background-color); }

.browser-container {
  display: flex;
  flex: 1;
  padding: 1px; }

.browser {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  border: 0.5px solid var(--border-color);
  border-radius: 5px;
  transform-origin: top left; }

.menu-veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-color);
  opacity: 0.5; }

.menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 5px;
  padding: 2px;
  cursor: default;
  border: 0.5px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  background-color: var(--background-color);
  box-shadow: var(--shadow-color) 2px 2px 4px; }
  .menu-container .menu-item {
    margin: 2px; }
  .menu-container .scale-bar {
    align-items: center;
    justify-content: center; }
    .menu-container .scale-bar button {
      width: 24px; }
    .menu-container .scale-bar .scale {
      margin: 0 2px;
      min-width: 4em;
      text-align: center; }
      .menu-container .scale-bar .scale::after {
        content: '%'; }

.spacer {
  flex-grow: 1; }

#popup-veil {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-color);
  opacity: 0.5; }

.popup-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 80vw;
  min-height: 10vh;
  max-height: 70vh;
  transform: translate(-50%, -50%);
  padding: 8px 10px;
  border: 0.5px solid var(--border-color);
  border-radius: 4px;
  color: var(--font-color);
  background-color: var(--background-color);
  box-shadow: var(--shadow-color) 2px 2px 4px;
  overflow-x: auto; }
  .popup-panel > * {
    margin: 2px 0; }
  .popup-panel > img {
    border-radius: 10px;
    align-self: center; }
  .popup-panel > img[data-string-src=webrequestHeaderCleaningAll-imgsrc] {
    max-width: 360px; }

/*# sourceMappingURL=common.css.map */
