html, body {
    margin: 0;
}
* {
    box-sizing: border-box;
    margin: 2px;
    padding: 0;
    line-height: 1.5;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1em;
}
.row > .row {
    padding-bottom: 0;
}
.flex-left {
    flex: 1;
    display: flex;
    align-items: center;
}
.flex-right {
    flex: 1;
    display: flex;
    align-items: center;
}
.w-100 {
    display: flex;
    align-items: center;
    width: 100%;
}
.flex-grow {
    flex-grow: 1;
}
.pre-wrap {
    white-space: pre-wrap;
}
.indent-1 {
    border-left: 4px solid lightgray;
    padding-left: 4px;
}
#timelineUpdateInterval {
    width: 5em;
}
